body {
  margin: 0;
  padding: 0;
  background-color: #E2EFF0;
}

.background {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30%;
  .mountains {
    height: 100%;
    width: 100%;
  }
}

.logo {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  h1 {
    font-size: 70px;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  h3 {
    font-size: 36px;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
}

.search {
  display: flex;
  justify-content: center;
  width: auto;
  .location-button {
    height: 5%;
    width: 5%;
    padding-right: 10px;
  }
  .search-input {
    border-radius: 10px;
    border: solid #83A8BC 1px;
    text-align: center;
    font-size: 14px;
  }
}
